body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    background-color: #343434;
    color: white;
}

.container {
    max-width: 50%;
    width: 40%;
}

.card {
    border-radius: 3.13rem;
    background-color: #343434;
    box-shadow: 0.31rem 0.31rem 0.63rem #191b1b, -0.31rem -0.31rem 0.63rem #595959;
    padding: 3%;
    text-align: center;
}

.card h4 {
    font-size: 4rem;
    font-weight: 400;
    margin: 1rem 0;
}

#icon {
    width: 20%;
}

#weather {
    font-size: 1.4rem;
    text-transform: uppercase;
}

#location {
    font-size: 3.5rem;
}

.card h5 {
    font-size: 2rem;
    margin: 1rem 0;
    letter-spacing: .1rem;
}

button.refresh{
    display: block;
    width: 6.25rem;
    height: 6.25rem;
    background: transparent;
    color: #9c9c9d;
    margin: 0.63rem auto;
    border: 0;
    font-size: 1.88rem;
    border-radius: 50%;
    box-shadow: 0.63rem 0.25rem 0.63rem #252525, 0.31rem 0.31rem 0.31rem #4a4a4a;
}

button.refresh:hover {
    box-shadow: inset 0.63rem 0.25rem 0.63rem #252525, inset 0.31rem 0.31rem 0.31rem #4a4a4a;
}

/* Responsiveness */
@media only screen and (max-width: 799px){
    .container {
        width: 80%;
    }
}